body {
  margin : 0;
  padding : 0;
  width : 100vw;
  height : 100vh;
  background-color: rgba(25,34,47,1) !important;
}

.custom-shape-divider-bottom-1655291501 {
  opacity : 0.9;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 20;
}

.custom-shape-divider-bottom-1655291501 svg {
  position: relative;
  display: block;
  width: calc(210% + 1.3px);
  height: 151px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655291501 .shape-fill {
  fill: #197278;
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');